@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: rodin;
  src: url("./utils/fonts/Rodin-Font/FOT-Rodin\ Pro\ Medium.ttf");
  weight: 400;
}

:root {
  --primary-color: #cdc8b0;
  --secondary-color: #4a473d;
  --last-color: #dad4bb;
}

body {
  background: #cdc8b0;
  cursor: url("/assets/icons/Cursor_UL.png") 10 10, auto;
}

.handle_pointer_icon,
a:hover {
  cursor: url("/assets/icons/Hand_Point.png") 10 10, auto;
}

p:not(a > p):hover,
span:not(a > span):hover,
h1:not(a > h1):hover,
h2:not(a > h2):hover,
h3:not(a > h3):hover,
h4:not(a > h4):hover,
h5:not(a > h5):hover,
h6:not(a > h6):hover {
  cursor: url("/assets/icons/Selector.png") 10 10, auto;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4a473d;
  font-family: rodin;
}

.container-social-media {
  /* border: solid 2px red; */
  position: fixed;
  top: 50%;
  right: 1% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
.my-box-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.my-text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
